[submodule "Source/Source/Engine"]
	path = Source/Source/Engine
	url = https://github.com/JuanDiegoMontoya/EngineBase.git
[submodule "Source/lib/tracy"]
	path = Source/lib/tracy
	url = https://github.com/wolfpld/tracy.git
